version: "3.9"

services:
  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    ports:
      - "80:80"
      - "443:443"
    environment:
      - VITE_API_URL=${VITE_API_URL}
    volumes:
      - ./frontend/ssl:/etc/nginx/ssl:ro
      - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    
    networks:
      - app-net


  backend:
    build: ./backend
    container_name: backend
    restart: always
    ports:
      - "8000:8000"
    environment:
      - MONGO_URL=mongodb://mongo:27017/cruddb
    networks:
      - app-net

  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    volumes:
      - mongo-data:/data/db
    networks:
      - app-net

volumes:
  mongo-data:

networks:
  app-net:
    driver: bridge
